:root {
    --goldenCurrency: #f9ba48;
}

.CurrencyBox{
    margin: 0px 50px 35px 50px;
    display: flex;
    flex-direction: column;

}
.CurrencyLabel {
    color: var(--goldenCurrency);
}

.CurrencyInput {
    height: 50px;
    font-size: 14pt;
    text-indent: 5px;
    border-radius: 15px;
    border-style: none;
}

.CurrencySelect {
    text-align: center;
    height: 55px;
    width: 85px;
    /* max-width: 50px; */
    border-radius: 15px;
    margin: auto;
    background-color: transparent;
    font-size: 25px;
    color: var(--goldenCurrency);
    border-style: none;
}